<div class="card">
  <div class="p-3">
    <h4 class="header-title m-0">PorpertyDocument Information</h4>
  </div>
  <hr class="m-0">
  <div class="card-body">
    <div class="row mb-md-2 align-items-center">
      <div class="col-sm-12 col-md-8">
        <button type="button" class="btn btn-primary" (click)="Edit(0)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
          <span class="ml-1 align-middle">Add PorpertyDocument</span>
        </button>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="d-flex flex-row align-items-center text-md-right">
          <label class="flex-shrink-0 mb-0 mr-2"> Search :</label>
          <div class="">
            <input pInputText type="text" name="tabelFilter" class="form-control form-control-sm" size="50"
              (input)="usertable.filterGlobal($event.target.value, 'contains')">
          </div>
        </div>
      </div>
    </div>
    <p-table #usertable [columns]="Columns" [value]="PorpertyDocumentList" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true" [lazy]="true"
      [totalRecords]="TotalRecord" (onLazyLoad)="loadLazy($event)" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of Columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field" class="float-right"></p-sortIcon>
          </th>
          <th class="text-center">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <!-- {{rowData | GetArrayValue : col }} -->
            <div *ngIf="col.field != 'primary'">
              <span class="ui-column-title"></span> {{rowData | GetArrayValue : col }}
            </div>
            <div *ngIf="col.field == 'primary'">
              <span class="badge bg-soft-success text-success" *ngIf="rowData.primary == 1">Yes</span>
              <span class="badge bg-soft-success text-danger" *ngIf="rowData.primary == 0">No</span>
            </div>
          </td>

          <td class="cursor-pointer">
            <div class="d-flex flex-row justify-content-center">
              <button type="button" class="btn btn-success d-flex justify-content-center align-items-center p-1 mr-2"
                (click)="Edit(rowData.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                  class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
              </button>
              <button type="button" class="btn btn-danger d-flex justify-content-center align-items-center p-1"
                (click)="Delete(rowData.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>