/* Body variable */

:root {
  --body-bg: #fbfbfb;
  --body-color: #7e7e7e;
  --text-main-title: #323a46;
  --text-title: #000000;
  --text-muted: #98a6ad;
  --title-header: #343a40;
  /* TOP NAV */
  --top-nav-bg: #ffffff;
  --top-nav-color: #363062;
  --top-nav-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
  --top-nav-logo-bg: var(--top-nav-bg);
  /* SIDE NAV */
  --side-nav-bg: #ffffff;
  --side-nav-shadow: 0 15px 30px 0 rgb(0 0 0 / 2%);
  --side-nav-link-color: #7e7e7e;
  --side-nav-link-hover-color: #363062;
  --condence-side-nav-link-bg: #f3f7f9;
  --condence-side-nav-link-shadow: inset 3px 5px 10px 0 rgba(154, 161, 171, .2);
  /* COPYRIGHT FOOTER */
  --footer-bg: #fbfbfb;
  --footer-color: var(--text-muted);
  /* AUTNENTICATION PAGE */
  --auth-page-img-bg-color: #F2F4F4;
  /* TABLE */
  --table-color: #6c757d;
  --table-b-color: #dee2e6;
  --pagi-btn-bg: #ffffff;
  --pagi-btn-hover-bg: #f7f7f7;
  --pagi-btn-color: #323a46;
  --pagi-btn-hover-color: #323a46;
  /* INPUT */
  --ip-b-color: #ced4da;
  --ip-color: #6c757d;
  --ip-bg-color: #fff;
  --ip-placeholder-color: #adb5bd;
  --ip-hover-b-color: #b1bbc4;
  --ip-group-text-bg: #f7f7f7;
  --ip-group-text-color: var(--body-color);
  --select-arrow-color: rgb(108, 117, 125);
  /* CHECKBOX */
  --checkbox-border: #adb5bd;
  --checkbox-bg-color: var(--ip-bg-color);
  /* CARD */
  --card-bg: #fff;
  --card-shadow: 0 0 13px 0 rgb(82 63 105 / 5%);
  --card-b-color: #f7f7f7;
  /* DROPDOWN MENU */
  --dropdown-menu-color: #6c757d;
  --dropdown-menu-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
  --dropdown-menu-bg: #fff;
  --dropdown-menu-border: 1px solid #e9f0f4;
  --dropdown-menu-hover-color: #272e37;
  --dropdown-menu-hover-bg: #f3f7f9;
  --dropdown-divider-b-rder-color: #f7f7f7;
  --dropdown-search-bg-color: #ffffff;
  --dropdown-arrow-color: #6c757d;
  /* MODAL */
  --modal-header-bg: #f3f7f9;
  /* CALENDER */
  --calender-active-bg: #edeff1;
  --calender-active-color: #343a40;
  --calender-hover-color: #343a40;
  --calender-hover-bg: #dae6ec;
  --calender-today-bg: #6c757d;
  --calender-today-color: #ffffff;
  /* PRIMENG TAB */
  --tab-nav-color: #dee2e6;
  --tab-nav-bg: transparent;
  --tab-nav-active-color: #6c757d;
  --tab-nav-active-bg: #ffffff;
  --tab-nav-active-border-color: #6658dd;
  /* --tab-nav-border-color: rgba(152, 166, 173, .2); */
  --tab-nav-border-color: #98a6ad33;
  /* PRIMENG RICH TEXT EDITOR */
  --editor-header-bg: rgb(237, 239, 241);
  --editor-border: 1px solid rgb(206, 212, 218);
  --editor-editor-bg: #fff;
  --editor-editor-color: #6c757d;
  --editor-header-btn-color: rgb(52, 58, 64);
}

:root .dark {
  --body-bg: #05031a;
  --body-color: #828690;
  --text-main-title: #f3f7f9;
  --text-title: #ffffff;
  --text-muted: #8c98a5;
  --title-header: #acbfd2;
  /* TOP NAV */
  --top-nav-bg: #14112e;
  --top-nav-color: #ffffff;
  --top-nav-shadow: 0 0 35px 0 rgba(66, 72, 80, .15);
  --top-nav-logo-bg: #14112e;
  --condence-side-nav-link-bg: #37424c;
  --condence-side-nav-link-shadow: none;
  /* SIDE NAV */
  --side-nav-bg: #14112e;
  --side-nav-shadow: 0 15px 30px 0 rgb(0 0 0 / 2%);
  --side-nav-link-color: #b3b3b3;
  --side-nav-link-hover-color: #ffffff;
  /* COPYRIGHT FOOTER */
  --footer-bg: #05031a;
  --footer-color: var(--text-muted);
  /* AUTNENTICATION PAGE */
  --auth-page-img-bg-color: #161A22;
  /* TABLE */
  --table-color: #94a0ad;
  --table-b-color: #424e5a;
  --pagi-btn-bg: #3b4651;
  --pagi-btn-hover-bg: #424e5a;
  --pagi-btn-color: #f3f7f9;
  --pagi-btn-hover-color: #f3f7f9;
  /* INPUT */
  --ip-b-color: #424e5a;
  --ip-color: #94a0ad;
  --ip-bg-color: #3b4651;
  --ip-placeholder-color: #586877;
  --ip-hover-b-color: #475461;
  --ip-group-text-bg: #36404a;
  --ip-group-text-color: var(--body-color);
  --select-arrow-color: rgb(148, 160, 173);
  /* CHECKBOX */
  --checkbox-border: #5d7186;
  --checkbox-bg-color: var(--ip-bg-color);
  /* CARD */
  --card-bg: #14112e;
  --card-shadow: none;
  --card-b-color: #36404a;
  /* DROPDOWN MENU */
  --dropdown-menu-color: #94a0ad;
  --dropdown-menu-bg: #3b4651;
  --dropdown-menu-shadow: 0 0 35px 0 rgba(66, 72, 80, .15);
  --dropdown-menu-border: 1px solid #414d59;
  --dropdown-menu-hover-color: #e2ecf1;
  --dropdown-menu-hover-bg: #424e5a;
  --dropdown-divider-b-rder-color: #475461;
  --dropdown-search-bg-color: #414d59;
  --dropdown-arrow-color: #94a0ad;
  /* MODAL */
  --modal-header-bg: #424e5a;
  /* CALENDER */
  --calender-active-bg: #4d5b69;
  --calender-active-color: #f7f7f7;
  --calender-hover-color: #fff;
  --calender-hover-bg: #323b44;
  --calender-today-bg: #cedeef;
  --calender-today-color: #36404a;
  /* PRIMENG TAB */
  --tab-nav-color: #dee2e6;
  --tab-nav-bg: transparent;
  --tab-nav-active-color: #dee2e6;
  --tab-nav-active-bg: #424e5a;
  --tab-nav-active-border-color: #6658dd;
  /* --tab-nav-border-color: rgba(206, 222, 239, .2); */
  --tab-nav-border-color: #cedeef33;
  /* PRIMENG RICH TEXT EDITOR */
  --editor-header-bg: #424e5a;
  --editor-border: 1px solid #424e5a;
  --editor-editor-bg: #3b4651;
  --editor-editor-color: #94a0ad;
  --editor-header-btn-color: #f3f7f9;
}
