<div class="card">
  <div class="p-3">
    <h4 class="header-title m-0">User Information</h4>
  </div>
  <hr class="m-0">
  <div class="card-body pb-0">
    <div class="row" [formGroup]="UserForm">
      <div class="col-xl-3 col-lg-4 col-md-6 form-group">
        <label>User Role<span class="text-danger"> * </span></label>
        <p-dropdown [filter]="true" [readonly]="UserId > 0" formControlName="user_role_id" [options]="UserRoledropdown"
          optionLabel="name" optionValue="id" placeholder="Select User Role" [(ngModel)]="UserData.user_role_id"
          [ngClass]="getValClass(fc.user_role_id)" [(ngModel)]="this.UserData.user_role_id"></p-dropdown>
        <app-validation propertyName="user_role_id" [MessageArray]="UserValidationMessages"
          [FormGroupName]="UserForm"></app-validation>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 form-group">
        <label>First Name<span class="text-danger"> * </span></label>
        <input type="text" [pKeyFilter]="nameRegex" class="form-control" formControlName="first_name"
          [(ngModel)]="UserData.first_name" aria-describedby="mail-icon" [ngClass]="getValClass(fc.first_name)"
          [(ngModel)]="this.UserData.first_name">
        <app-validation propertyName="first_name" [MessageArray]="UserValidationMessages"
          [FormGroupName]="UserForm"></app-validation>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 form-group">
        <label>Last Name </label>
        <input type="text" [pKeyFilter]="nameRegex" class="form-control" formControlName="last_name"
          [(ngModel)]="UserData.last_name" aria-describedby="mail-icon" [ngClass]="getValClass(fc.last_name)"
          [(ngModel)]="this.UserData.last_name">
        <app-validation propertyName="last_name" [MessageArray]="UserValidationMessages"
          [FormGroupName]="UserForm"></app-validation>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 form-group">
        <label>Mobile <span class="text-info" pTooltip="E.g +449999999999" tooltipPosition="right"><i
              class="fa fa-info-circle"></i></span></label>
        <input type="text" [pKeyFilter]="mobileRegex" class="form-control" maxlength="13" formControlName="mobile"
          [ngClass]="getValClass(fc.mobile)" [(ngModel)]="this.UserData.mobile">
        <app-validation propertyName="mobile" [MessageArray]="UserValidationMessages"
          [FormGroupName]="UserForm"></app-validation>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 form-group">
        <label>Email </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="mail-icon">
              <i class="bi bi-envelope d-inline-flex align-middle lead"></i>
            </span>
          </div>
          <input type="email" [readonly]="UserId > 0" class="form-control" formControlName="email"
            [(ngModel)]="UserData.email" [ngClass]="getValClass(fc.email)" aria-describedby="mail-icon"
            [(ngModel)]="this.UserData.email">
        </div>
        <app-validation propertyName="email" [MessageArray]="UserValidationMessages"
          [FormGroupName]="UserForm"></app-validation>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 form-group" *ngIf="UserId == 0">
        <label>Password<span class="text-danger"> * </span></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-key"
                viewBox="0 0 16 16">
                <path
                  d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </span>
          </div>
          <input type="password" formControlName="password" class="form-control" aria-describedby="password-icon"
            [(ngModel)]="UserData.password"
            [ngClass]="{ 'is-invalid': UserForm.controls.password.invalid && (UserForm.controls.password.dirty || UserForm.controls.password.touched), 'is-valid': UserForm.controls.password.valid && (UserForm.controls.last_name.dirty || UserForm.controls.password.touched) }"
            [(ngModel)]="this.UserData.password">
          <div appViewPassword class="input-group-append password-ip-icon">
            <button class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                viewBox="0 0 16 16">
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash"
                viewBox="0 0 16 16">
                <path
                  d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                <path
                  d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                <path
                  d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884l-12-12 .708-.708 12 12-.708.708z" />
              </svg>
            </button>
          </div>
        </div>
        <app-validation propertyName="password" [MessageArray]="UserValidationMessages"
          [FormGroupName]="UserForm"></app-validation>
      </div>
    </div>
  </div>
  <div class="row align-items-center mb-2 mx-2">
    <div class="col-md-6">
      <span class="text-danger">*</span>&nbsp;<strong>Indicate mandatory fields</strong>
    </div>
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-danger mr-3" *ngIf="helper.GetUserInfo()?.user_role_id == 1"
        routerLink="/UserList">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
        <span class="align-middle ml-1">Cancel</span>
      </button>
      <button type="button" class="btn btn-success" (click)="Save()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle"
          viewBox="0 0 16 16">
          <path
            d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
          <path
            d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
        </svg>
        <span class="align-middle ml-1">{{ UserId == 0 ? 'Save': 'Update' }}</span>
      </button>
    </div>
  </div>
</div>