<!-- forgot password start -->
<section class="row d-flex justify-content-center align-items-center vh-100">
  <div class="col-xl-7 col-md-9 col-10  px-0">
    <div class="card mb-0">
      <div class="row m-0">
        <!-- left section-forgot password -->
        <div class="col-md-6 col-12 px-0 align-self-center">
          <div class="card mb-0 p-3">
            <div class="pt-2 pb-1">
              <h3 class="text-title text-center">Forgot Password?</h3>
            </div>

            <div class="card-content">
              <div class="card-body">
                <div class="text-muted text-center mb-2"><small>Enter the email or phone number you used when you joined
                    and we will send you temporary password</small></div>
                <form class="mb-2" #forgotPasswordForm="ngForm">
                  <div class="form-group mb-3">
                    <label class="text-bold-600">User Name/Email</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                          <svg xmlsn="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                          </svg>
                        </span>
                      </div>
                      <input type="email" name="email" #email="ngModel" [(ngModel)]="forgotPasswordEmail"
                        class="form-control" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        required
                        [ngClass]="{'is-invalid':email.invalid && (email.dirty  || email.touched), 'is-valid':email.valid && (email.dirty  || email.touched)}">
                    </div>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                      <div *ngIf="email.errors.required">
                        User Name/Email is Required
                      </div>
                      <div *ngIf="email.errors.pattern">
                        Enter Valid User Name/Email.
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="aunthetication-btn btn btn-primary rounded position-relative w-100"
                    [disabled]="!forgotPasswordForm.form.valid" (click)="getPassword()"><span>SEND PASSWORD</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                      class="bi bi-arrow-right-short position-absolute" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                  </button>
                </form>
                <div class="text-center mb-2"><a class="card-link" [routerLink]="['/Login']"><small class="text-muted">I
                      remembered my password</small></a></div>
              </div>
            </div>
          </div>
          <div class="p-2 text-center">
            All Rights Reserved. Property Z Plus
          </div>
        </div>
        <!-- right section image -->
        <div class="col-md-6 aunthetication-img-bg-color d-md-block d-none text-center py-3 position-relative">
          <img class="img-fluid position-absolute" src="assets/images/forgot-password.png" alt="branding logo">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- forgot password ends -->